.show {
  max-width: 400px;
  min-width: 300px;
  height: 475px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.show__inner {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.show__img {
  border-radius: 0.5rem;
}

.show__content {}

.show__name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.show__status {
  margin: 0.8rem 0;
  font-weight: 600;
}

.show__status_running {
  color: green;
}

.show__status_ended {
  color: red;
}

.show__episode {
  margin: 0.8rem 0;
  font-weight: 600;
}

.show__episode-name {
  font-weight: 500;
}

.show__airing-info {
  font-weight: 600;
}

.show__airdate {
  font-weight: 500;
}

.show__button {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100%;
  color: red;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.show__button:hover,
.show__button:focus {
  background-color: var(--black-lighter);
}

.show__trash-icon {
  font-size: 1.4rem;
}