:root {
  --black: #282828;
  --black-lighter: rgba(40, 40, 40, 0.1);
  --white: #ffffff;
  --grey: #cccccc;
  --light-grey: #f8f8f8;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.5;
}